<%- include("partials/header.ejs") %>

  <% if (locals.adjective && locals.noun) { %>
    <h1>
      <%= adjective %>
        <%= noun %>
    </h1>
    <% } else { %>
      <h1>Welcome my Blog web site 🤟</h1>
      <% } %>

        <form action="/submit" method="POST">
          <input type="submit" value="Create Blog">
        </form>


        <%- include("partials/footer.ejs") %>